{$DOMAIN} {
    @grafana path /grafana /grafana/*
    handle @grafana {
        basic_auth {
            {$GRAFANA_USER} {$GRAFANA_HASHED_PASSWORD}
        }
        reverse_proxy grafana:3000
    }

    @kibana path /kibana /kibana/*
    handle @kibana {
        basic_auth {
            {$KIBANA_USER} {$KIBANA_HASHED_PASSWORD}
        }
        reverse_proxy kibana:5601
    }

    @metrics path /metrics /metrics/*
    handle @metrics {
        respond 404
    }

    handle {
        reverse_proxy app:3000
    }
}
